body, button, select, textarea, input {
  /*font-family: Microsoft YaHei, Tahoma, SimSun, Verdana;*/
  font-family: Tahoma, Microsoft YaHei, SimSun, Verdana;
  font-size: 12px;
  line-height: 1.8;
  word-wrap: break-word;
}

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, li {
  list-style: none;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, th, var, i, s {
  font-style: normal;
  font-weight: normal;
}

li {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

input[type=search] {
  -webkit-appearance: none;
}

input[type=checkbox] {
  vertical-align: middle;
  margin-top: -1px;
}

input, button, select, textarea {
  outline: none;
}

a img, a span, a strong, a s {
  cursor: hand;
}

button {
  white-space: nowrap;
  overflow: visible;
}

a {
  text-decoration: none;
  outline: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  outline: none;
}

a:focus {
  -moz-outline-style: none;
}

div[contenteditable=true] {
  -webkit-line-break: after-white-space;
  -webkit-nbsp-mode: space;
  -webkit-user-modify: read-write;
  word-wrap: break-word;
}

.clearfix:before, .clearfix:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

.clear {
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
  clear: both;
}

.hide {
  display: none !important;
}

.l {
  float: left;
}

.r {
  float: right;
}

.loading {
  background: url(/images/loading.gif) no-repeat 10% 50%;
  width: 112px;
  padding: 10px 0;
  text-indent: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -56px;
  margin-top: -20px;
  border: 1px solid #DDD;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
  background-color: #FBFFF9;
}

.nav-tabs {
  /*border-color: #FAEBCC;*/
  /*border-color: #E0E0E0;*/
}
.nav-tabs > li > a {
  border-radius: 0;
  padding: 5px 15px;
}
.nav-tabs .close-tab {
  cursor: pointer;
  position: absolute;
  width: 14px;
  height: 14px;
  text-align: center;
  right: 2px;
  top: 0px;
  color: #666;
  display: none;
  -moz-transform: scale(0.7, 0.7);
  -ms-transform: scale(0.7, 0.7);
  -webkit-transform: scale(0.7, 0.7);
  transform: scale(0.7, 0.7);
}
.nav-tabs .active .close-tab,
.nav-tabs li:hover .close-tab {
  display: block;
}

header {
  height: 30px;
  background-color: #5F646E;
  padding: 0 2em;
  line-height: 30px;
  color: #FFF;
  /*border-bottom: 1px solid #333;*/
}
header .user {
  float: right;
}
header h1 {
  line-height: 30px;
  font-size: 16px;
}

.gui {
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.gui .col-md-2,
.gui .col-md-10 {
  padding-left: 0;
}

.sidebar {
  height: 570px;
  background-color: #ECF0F1;
  padding-right: 0;
  border-right: 1px solid #C0C9D1;
}
.sidebar .path {
  overflow: hidden;
  border-bottom: 1px solid #C0C9D1;
}
.sidebar .path-val {
  color: #FFF;
  border: none;
  background-color: #5B6B78;
  outline: none;
  margin: 0;
  padding: 0 5px;
  width: 100%;
  display: block;
  height: 28px;
  line-height: 20px;
}
.sidebar .path-val:focus {
  background-color: #879DAF;
}
.sidebar .path-tree {
  overflow-x: auto;
  position: relative;
  height: 540px;
}
.sidebar .path-tree .fa {
  margin-right: 2px;
  position: relative;
}
.sidebar .path-tree .path-name {
  position: relative;
  padding-left: 10px;
}
.sidebar .path-tree .fa + .path-name {
  padding-left: 0;
}
.sidebar .path-tree a {
  display: block;
  padding-left: 5px;
  padding-right: 5px;
}
.sidebar .path-tree a * {
  color: #135A94;
}
.sidebar .path-tree a:before {
  content: ' ';
  position: absolute;
  height: 20px;
  width: 100%;
  left: 0;
  /*top: 0;*/
  display: none;
  background-color: #b2b2b2;
  background-image: -moz-linear-gradient(top, #b2b2b2, #a3a3a3, #8b8b8b);
  background-image: -webkit-linear-gradient(top, #b2b2b2, #a3a3a3, #8b8b8b);
  background-image: -o-linear-gradient(top, #b2b2b2, #a3a3a3, #8b8b8b);
  background-image: inear-gradient(top, #b2b2b2, #a3a3a3, #8b8b8b);
}
.sidebar .path-tree a:hover * {
  color: #1abc9c;
}
.sidebar .path-tree a:hover:before {
  display: block;
  opacity: 0.2;
}
.sidebar .path-tree a.active * {
  /*color: #009FC7;*/
  color: #FFF;
  color: #1dd2af;
}
.sidebar .path-tree a.active:before {
  display: block;
  opacity: 0.5;
}
.sidebar .path-tree li ul {
  padding-left: 1em;
}

.box_selected, .panels .file-list li:hover, .panels .file-list li.selected {
  color: #000;
  background-color: #EEE;
  outline: 1px solid #DDD;
}

.panels {
  padding: 0;
  height: 570px;
}
.panels .tab-content,
.panels .tab-pane {
  height: 541px;
  overflow-y: auto;
}
.panels .file-list {
  padding: 2em;
  color: #555;
}
.panels .file-list li {
  display: inline-block;
  width: 80px;
  height: 80px;
  text-align: center;
  cursor: pointer;
}
.panels .file-list .fa {
  font-size: 3em;
  margin-top: 12px;
}
.panels .file-list .path-name {
  display: block;
  width: 70px;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.panels .ace_editor {
  font-family: 'Consolas', 'Monaco', 'source-code-pro', monospace;
}

.border_style, .terms .terms-nav .term-plus, .terms .terms-nav .term-plus:hover, .terms .nav-tabs > li > a, .terms .nav-tabs > li.active > a {
  border: none;
  border-bottom: 1px solid transparent;
  border-right: 1px solid #666;
}

.terms {
  clear: both;
  width: 100%;
  margin: 0 auto;
  min-height: 174px;
  /*background-color: #2C3238;*/
  background-color: #000;
  font: 14px/1.8 Consolas;
}
.terms .terms-nav {
  position: relative;
  background-color: #191B1D;
}
.terms .terms-nav .term-plus {
  float: left;
  width: 15px;
  line-height: 30px;
  cursor: pointer;
  background-color: #4e5051;
  background-image: -moz-linear-gradient(top, #4e5051, #3c3e3f, #353638);
  background-image: -webkit-linear-gradient(top, #4e5051, #3c3e3f, #353638);
  background-image: -o-linear-gradient(top, #4e5051, #3c3e3f, #353638);
  background-image: inear-gradient(top, #4e5051, #3c3e3f, #353638);
}
.terms .terms-nav .term-plus:hover {
  background-color: #4d4d4d;
  background-image: -moz-linear-gradient(top, #4d4d4d, #242424, #2a2e31);
  background-image: -webkit-linear-gradient(top, #4d4d4d, #242424, #2a2e31);
  background-image: -o-linear-gradient(top, #4d4d4d, #242424, #2a2e31);
  background-image: inear-gradient(top, #4d4d4d, #242424, #2a2e31);
  color: #FFF;
}
.terms .terms-nav .glyphicon-plus {
  color: #DDD;
  -moz-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  -webkit-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
}
.terms .terms-nav .glyphicon-plus:hover {
  color: #FFF;
}
.terms .nav-tabs {
  float: left;
  line-height: 30px;
  border-color: #383C3F;
  /*> li > a:hover {
      background-color: #F2DEDE;
      border: 1px solid #F2DEDE;
  }*/
}
.terms .nav-tabs > li {
  margin-right: -2px;
}
.terms .nav-tabs > li > a {
  background-color: #4e5051;
  background-image: -moz-linear-gradient(top, #4e5051, #3c3e3f, #353638);
  background-image: -webkit-linear-gradient(top, #4e5051, #3c3e3f, #353638);
  background-image: -o-linear-gradient(top, #4e5051, #3c3e3f, #353638);
  background-image: inear-gradient(top, #4e5051, #3c3e3f, #353638);
}
.terms .nav-tabs > li.active > a {
  background-color: #4d4d4d;
  background-image: -moz-linear-gradient(top, #4d4d4d, #242424, #2a2e31);
  background-image: -webkit-linear-gradient(top, #4d4d4d, #242424, #2a2e31);
  background-image: -o-linear-gradient(top, #4d4d4d, #242424, #2a2e31);
  background-image: inear-gradient(top, #4d4d4d, #242424, #2a2e31);
  color: #FFF;
}
.terms .nav-tabs .close-tab:hover {
  color: #FFF;
}
.terms .terms-content {
  background-color: #222;
}

.terminal {
  font-family: "Source Code Pro Light", Consolas, monospace;
  font-size: 13px;
  color: #f0f0f0;
  background: #000;
}

.reverse-video {
  color: #000;
  background: #f0f0f0;
}
