$box_size: 80px;

.box_selected {
    color: #000;
    background-color: #EEE;
    outline: 1px solid #DDD;
}

.panels {
    padding: 0;
    height: 570px;
    .tab-content,
    .tab-pane {
        height: 541px;
    }
    .file-list {
        padding: 2em;
        color: #555;
        li {
            display: inline-block;
            width: $box_size;
            height: $box_size;
            text-align: center;
            cursor: pointer;
            &:hover {
                @extend .box_selected;
            }
        }
        li.selected {
            @extend .box_selected;
        }
        .fa {
            font-size: 3em;
            margin-top: 12px;
        }
        .path-name {
            display: block;
            width: $box_size - 10px;
            margin: 0 auto;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    .ace_editor {
        font-family: 'Consolas', 'Monaco', 'source-code-pro', monospace;
    }
}
