body {
    font: 12px/1.8 Tahoma;
}

h1, h2, h3, h4, h5, h6, p, ul, li, dl, dt, dd {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}
#stuff {
    border: 1px solid #888;
    height: 24px;
    padding: 3px;
    width: 300px;
    margin: 0 auto;
    background-color: #DDD;
    cursor: move;
}
#stuff.dragstart {
    border-color: #DDD;
    background-color: #EEE;
}
#box {
    border: 1px solid #DDD;
    background-color: #EEE;
    width: 500px;
    height: 300px;
    margin: 60px auto;
}
#box.active {
    border-color: red;
}

#console {
    width: 80%;
    height: 60%;
    margin: 0 auto;
    textarea {
        display: block;
        color: green;
        width: 100%;
        height: 100%;
        background: #000;
        border: none;
    }
}
